---
import Layout from "../../layouts/Layout.astro"
import { getNovels, getNovelDetail } from "../../library/microcms"
import { format } from "date-fns"

export async function getStaticPaths() {
  const response = await getNovels({ fields: ["id"] })
  return response.contents.map((content: any) => ({
    params: {
      contentId: content.id,
    },
  }))
}

const { contentId } = Astro.params
const blog = await getNovelDetail(contentId as string)
const date = new Date(blog.publishedAt)
---

<Layout title="astro novel site template">
  <main>
    <h1 class="title">{blog.title}</h1>
    <p class="publishedAt"><time>{format(new Date(blog.publishedAt), "yyyy年MM月dd日 HH:mm:ss")}</time></p>
    <div class="post" set:html={blog.content} />
  </main>
</Layout>

<style is:global>
  img {
    max-width: 100%;
    height: auto;
  }
</style>

<style lang="scss">
  main {
    margin: auto;
    padding: 1em;
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
  p {
    margin: 8px 0;
  }
</style>
