---
import type { CategoryResponse, Category } from '../library/microcms'
export interface Props {
  category: CategoryResponse
}
const { category } = Astro.props
---

<ul class='menuList'>
  <li>
    <a href='/about'>About</a>
  </li>
  {
    category.contents.map((content: Category) => (
      <li>
        <a href={`/category/${content.id}`}>{content.name}</a>
      </li>
    ))
  }
</ul>

<style lang='scss'>
  .menuList {
    border-top: 2px solid #123123;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        text-align: right;
        padding: 8px 16px;
        display: block;
        text-decoration: none;
        background: white;
        width: calc(100% - 16px * 2);
        border-bottom: 2px solid #123123;
        color: #000;
        position: relative;
        z-index: 0;
        &::after {
          display: none;
        }
        &::before {
          display: block;
          z-index: -1;
          content: '';
          background: #25473c;
          width: 0;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
          transition: width 0.2s ease-in-out;
        }
        &:hover {
          color: #fff;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
</style>
