---
import '@fontsource/kiwi-maru'
export interface Props {
  title: string
}
import { getCategories } from '../library/microcms'
import Menu from '../components/Menu.astro'

const category = await getCategories()

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="root">
      <Menu category={category} />
      <div class="main">
        <slot />
      </div>
    </main>
  </body>
</html>
<style lang="scss">
  .root {
    display: flex;
  }
  .main {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 16px 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    min-height: calc(100vh - 16px * 2);
    margin-left: 180px;
    @media screen and (max-width: 600px) {
      padding: 16px 24px;
      margin-top: 56px;
      margin-left: 0;
    }
  }
</style>
<style is:global lang="scss">
  a {
    color: #33bb88;
    text-decoration: none;
    display: inline-block;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: #33bb88;
      transition: width 0.2s ease-in;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  html {
    font-family: 'kiwi Maru', cursive, system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
  body {
    margin: 0;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(150, 150, 150);
      border-radius: 5px;
      box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2);
    }

    &::-webkit-scrollbar-track {
      background-color: rgb(220, 220, 220);
      border-radius: 5px;
    }
  }
  button {
    background: transparent;
    border: none;
  }
</style>
